<mat-card class="my-2">
  <mat-card-content>
    <mat-card-title>VARIABLES DE ENTRADA</mat-card-title>
    <hr>
    <h4>P<sub>1</sub> = Fuerza de pretensado</h4>
    <h4>A<sub>t</sub> = Área meta de torón</h4>
    <h4>K = Coeficiente de fricción del elemento entre el cabley ducto</h4>
    <h4>L = Longitud</h4>
    <h4>u = Coeficiente de rosamiento angular</h4>
    <h4>e = Excenticidad</h4>
    <h4>f<sub>pu</sub> = Resistencia a la traccion del acero de preesforzado</h4>
    <h4>h<sub>c</sub> = Hundimiento de cuña</h4>
    <h4>E<sub>a</sub> = Módulo de elasticidad del acero de pretensado</h4>
    <h4>y<sub>h</sub> = Peso unitario del concreto</h4>
    <h4>f'<sub>ci</sub> = Esfuerzo permisible de compresion</h4>
    <h4>M<sub>DC</sub> = Momento debido al peso propio</h4>
    <h4>M<sub>LL</sub> = Momento por carga viva</h4>
    <h4>A = Area de la seccion</h4>
    <h4>I = Inercia de la seccion</h4>
    <h4>RH = Humedad relativa ambiente anual</h4>
  </mat-card-content>
</mat-card>
