<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>HORMIGON PRETENSADO</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<mat-stepper
  linear
  #stepper
  (selectionChange)="onStepChange($event, formGroup)"
>
  <mat-step [stepControl]="formGroup" [editable]="isEditable">
    <ng-template matStepLabel>VARIABLES DE ENTRADA</ng-template>
    <div class="stepOne">
      <app-form-input
        (formValidate)="validateForm($event)"
        class="stepOne-item_1"
      ></app-form-input>
      <app-card-info class="stepOne-item_2"></app-card-info>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>PERDIDAS INSTANTANEAS</ng-template>
    <div class="firtCal">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>PERDIDA POR FRICCION Y CURVATURA</mat-card-title>
          <mat-card-subtitle>
            <div>
              <h5><b>TENSION A MEDIO TRAMO</b></h5>
              <h3>
                f<sub>m</sub> = {{ getTensionMedioTramo }} [Kgf/<span
                  >cm<sup>2</sup></span
                >]
              </h3>
              <h5><b>LONGITUD DE LA TRAYECTORIA DEL CABLE A CONSIDERAR</b></h5>
              <h3>x<sub>1</sub> = {{ longitudTrayectoria }} [m]</h3>
              <h5><b>SUMATORIA DE DESVIACIONES, ANGULAR DEL CABLE</b></h5>
              <h3>θ = {{ getSumatoriaDesviaciones }} [rad]</h3>

              <h5><b>TENSION INICIAL</b></h5>
              <h3>
                f<sub>o</sub> = {{ getTensionInicial }} [Kgf/<span
                  >cm<sup>2</sup></span
                >]
              </h3>

              <h5><b>VERIFICACION</b></h5>
              <h3>
                <b>
                  f<sub>o</sub>/f<sub>pu</sub> ≤ 0.8
                  <mat-chip
                    [ngStyle]="
                      getVerificar
                        ? { 'background-color': ' #dfd' }
                        : { 'background-color': ' #fdd' }
                    "
                  >
                    {{ getVerificar ? "OK" : "NO" }}
                  </mat-chip></b
                >
              </h3>

              <h5><b>CAIDA DE TENSION POR FRICCION Y CURVATURA</b></h5>
              <h3>
                t<sub>f</sub> = {{ getCaidaTensionFricCurv }} [Kgf/<span
                  >cm<sup>2</sup></span
                >]
              </h3>

              <h5><b>FUERZA DE PRETENSADO EN EL ANCLAJE</b></h5>
              <h3>P<sub>o</sub> = {{ getFuerzaPretensado }} [Kgf]</h3>

              <h5><b>PERDIDAS POR FRICCION</b></h5>
              <h3>P<sub>fric1</sub> = {{ getPerdidaFric1 }} [Kgf]</h3>
              <h3>P<sub>fric2</sub> = {{ getPerdidaFric2 }} [Kgf]</h3>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>PERDIDA POR HUNDIMIENTO DE ANCLAJE</mat-card-title>
          <mat-card-subtitle>
            <div>
              <h5><b>LONGITUD DE TRAYECTORIA DEL CABLE A CONSIDERAR</b></h5>
              <h3>x<sub>2</sub> = {{ getLongitudTrayectoriaCable }} [m]</h3>
            </div>
            <hr />
            <h4>
              <b>CASO: {{ CASO }}</b>
            </h4>
            <h3>
              t<sub>h</sub> = {{ th }} [Kgf/<span>cm<sup>2</sup></span
              >]
            </h3>
            <h3>
              f'<sub>o</sub> = {{ f_o }} [Kgf/<span>cm<sup>2</sup></span
              >]
            </h3>
            <div>
              <h5><b>FUERZA DE PRENSADO DESPUES DEL ANCLAJE</b></h5>
              <h3>P'<sub>o</sub> = {{ getFuerzaPrensado }} [Kgf]</h3>
            </div>
            <div>
              <h5><b>PERDIDAS POR HUNDIMIENTO</b></h5>
              <h3>P<sub>hun1</sub> = {{ pHun }} [Kgf]</h3>
              <h3>P<sub>hun2</sub> = {{ pHun2 }} [Kgf]</h3>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>PERDIDA POR ACORTAMIENTO ELASTICO</mat-card-title>
          <mat-card-subtitle>
            <div>
              <h5><b>MODULO DE ELASTICIDAD DEL HORMIGON INICIAL</b></h5>
              <h3>E<sub>ci</sub> = {{ Eci }} [Kgfm]</h3>
            </div>
            <div>
              <h5><b>TENSION DE FISURACION</b></h5>
              <h3>f<sub>cir</sub> = {{ Fcir }}</h3>
              <h3>
                ES = {{ ES }} [Kgf/<span>cm<sup>2</sup></span
                >]
              </h3>
            </div>
            <div>
              <h5><b>PERDIDA DE ACOTAMIENTO ELASTICO</b></h5>
              <h3>P_ES = {{ P_ES }} [Kgf]</h3>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>PERDIDAS DIFERIDAS</ng-template>
    <div class="firtCal">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>PERDIDA POR FLUENCIA DEL HORMIGON</mat-card-title>
          <mat-card-subtitle>
            <div>
              <h5><b></b></h5>
              <h3>
                f<sub>cds</sub> = {{ Fcds }} [Kgf/<span>cm<sup>2</sup></span
                >]
              </h3>
              <h3>
                f<sub>cir2</sub> = {{ Fcir2 }} [Kgf/<span>cm<sup>2</sup></span
                >]
              </h3>
              <h3>
                CR<sub>c</sub> = {{ Crc }} [Kgf/<span>cm<sup>2</sup></span
                >]
              </h3>
              <h5><b>PERDIDA POR FRECUENCIA DE HORMIGON</b></h5>
              <h3>ΔP_CRc = {{ P_CRc }} [Kgf]</h3>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>PERDIDA POR RETRACCION DE HORMIGON</mat-card-title>
          <mat-card-subtitle>
            <div>
              <h5><b></b></h5>
              <h3>
                SH = {{ SH }} [Kgf/<span>cm<sup>2</sup></span
                >]
              </h3>
            </div>
            <div>
              <h5><b></b></h5>
              <h3>ΔP_SH = {{ P_SH }} [Kgf]</h3>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>PERDIDA POR RELAJACION DE ACERO</mat-card-title>
          <mat-card-subtitle>
            <div>
              <h5><b></b></h5>
              <h3>
                CRs = {{ CRs }} [Kgf/<span>cm<sup>2</sup></span
                >]
              </h3>
            </div>
            <div>
              <h5><b></b></h5>
              <h3>
                ΔP_CRs = {{ P_CRs }} [Kgf/<span>cm<sup>2</sup></span
                >]
              </h3>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <!--<div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>-->
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>RESUMEN DE PERDIDAS</mat-card-title>
        <mat-card-subtitle>
          <div>
            <h5><b>PERDIDAS CENTRO</b></h5>
            <h3>
              Perdidas_centro = {{ perdida_centro }} [Kgf/<span
                >cm<sup>2</sup></span
              >]
            </h3>
            <h3>η<sub>1</sub> = {{ perdida_centro }}</h3>
          </div>
          <div>
            <h5><b>PERDIDAS DIFERIDAS</b></h5>
            <h3>
              C = {{ getC }} [Kgf/<span>cm<sup>2</sup></span
              >]
            </h3>
            <h3>P<sub>f</sub> = {{ getPf }} [Kgf]</h3>
            <h3>η<sub>2</sub> = {{ getN2 }}</h3>
          </div>
          <h2><mat-chip
            [ngStyle]="{ 'background-color': ' #dfd' }
            "
          >
            {{  perdida_centro}} = {{getN2 }}
          </mat-chip></h2>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-step>
</mat-stepper>
